h1 {
    text-align: center;
}

#main {
    margin: 50px auto;
    width: 400px;
}

#main .links {
    text-align: center;
}

#main a,
#main button,
#main a:visited,
#main button:visited {
    background: rgb(36, 129, 204);
    border: 1px solid rgb(36, 129, 204);
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    transition: .3s linear background, .3s linear color;
}

#main a:hover,
#main button:hover {
    background: #fff;
    color: rgb(36, 129, 204);
    transition: .3s linear background, .3s linear color;
}